<div class="pop-up">
	<% @blog.tags.build %>
    <%= form_for(@blog) do |blog_form| %>
      <%= render 'shared/error_messages', object: blog_form.object %>

      <%= blog_form.text_field :name, :id => "name_form", :placeholder => "Blog Name" %>
      
      <%= render :partial => '/tags/form', :locals {:form => blog_form } %>

      <%= blog_form.submit "Submit", :class => "btn btn-large btn-primary" %>
    <% end %>
</div>