<% provide(:title, @blog.name) %>
<div class="blog-top-section">
	<h2>
		<%= @blog.name %>
	</h2>
	<%= link_to "Edit", edit_blog_path(@blog), :class => "btn btn-large btn-primary" %>
</div>

<div class="span8">
    <% if @blog.posts.any? %>
      <h3>Posts (<%= @blog.posts.count %>)</h3>
      <ol class="posts">
        <%= render (@posts) || 'There are no posts in this Blog.' %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
