<% provide(:title, @blog.name) %>
<div class="blog span8">
  <div>
    <h2>
      <%= @blog.name %>
      <% if current_user_made_this_blog?(@blog) %>
        <%= link_to "Edit", edit_blog_path(@blog), :class => "btn btn-large btn-primary pull-right" %>
      <% else %>
      <% end %>
    </h2>
  </div>

  <div>
    <% if @blog.posts.any? %>
      <ul class="posts">
        <% @blog.posts.each do |post| %>


          <li>
            <div class="post">
              <div class="post-title">
                <h3>
                  <%= post.title %>
                </h3>
              </div>
              <% if post.photo.url(:post_size).present? %>
                <div class="post-image">
                  <%= image_tag post.photo.url(:post_size)  %>
                </div>
              <% end %>
              <div class="post-content">
                <%= post.content %>
              </div>
              <div class="post-source">
                <%= post.source %>
                <span class="post-timestamp pull-right">
                  Posted <%= time_ago_in_words(post.created_at) %> ago.
                </span>
              </div>
            </div>
          </li>


        <% end %>
      </ul>
    <% end %>
  </div>

</div> 

