<% provide(:title, 'Sign up') %>
<div class="center">
  <h1>Welcome to ThoughtLocker</h1>
  <h2>Sign up and start blogging</h2>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages' %>

      <%= f.text_field :email, :id => "email_form", :placeholder => "youremail@whereever.com" %>

      <%= f.password_field :password, :id => "password_form", :placeholder => "Password" %>
      
      <%= f.password_field :password_confirmation,
      			:id => "password_confirmation_form",
      			:placeholder => "Password Confirmation" %>

      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    <% end %>
    <p>Old user? <%= link_to "Sign in", signin_path %></p>
  </div>
</div>
