<% provide(:title, @user.name) %>
<div class="row">

  <aside class="user-span">
    <section class="user-panel">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      
      <%= link_to "Post", new_post_path, :class => "btn btn-large btn-primary post-btn", :id => "new-post-modal", "data-toggle" => "modal" %>
      
      <%= link_to "New Blog", new_blog_path, :class => "new-blog-link", :id => "new-blog-modal" %>
    </section>
  </aside>
  
  <div class="span8">
    <% if @user.blogs.any? %>
      <h3>Blogs (<%= @user.blogs.count %>)</h3>
      <ol class="blogs">
        <%= render @blogs %>
      </ol>
      <%= will_paginate @blogs %>
    <% end %>
  </div>
</div>
