<div class="modal" id="new-post-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>New Post</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@post, :html => { :multipart => true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :title, :id => "post_title_form", :placeholder => "Title" %>

      <%= f.text_area :content, :id => "post_content_form", :placeholder => "Content" %>   
      <%= f.file_field :photo %>
      
      <%= f.text_field :source, :id => "post_source_form", :placeholder => "Source" %>
      
      <%= select_tag( :blog, options_for_select(@blog_hash)) %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
