<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "ThoughtLocker", login_path, :id => "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Sign out", signout_path, :method => "delete" %></li>
				</ul>
				<%= form_tag(blogs_path, :method => 'get', :class => "navbar-search pull-right") do %>
				    <%= text_field_tag "query", nil, :placeholder => "Search", :class => "search-query" %>
				<% end %>
			</nav>
		</div>
	</div>
</header>